version: '2'

services:
  luya_composer:
    image: composer
    volumes:
      - ./:/app
    command: composer install
  luya_php:
    image: luyadev/luya-docker-php
    volumes:
      - ./:/app
  luya_db:
    image: mysql:5.7
    command:
      - --character-set-server=utf8
      - --collation-server=utf8_general_ci
    environment:
      MYSQL_ROOT_PASSWORD: luya
      MYSQL_DATABASE: luya_env_dev
      MYSQL_USER: luya
      MYSQL_PASSWORD: luya
    ports:
      - "3300:3306"
  luya_web:
    image: luyadev/luya-docker-nginx
    ports:
      - "8080:80"
    volumes:
      - ./:/app
  unglue:
    image: unglue/server
    ports:
      - "3000:3000"

  luya_pma:
    image: phpmyadmin/phpmyadmin
    environment:
      PMA_HOST: luya_db
      MYSQL_USER: luya
      MYSQL_PASSWORD: luya
      MYSQL_ROOT_PASSWORD: luya
    restart: always
    ports:
      - 8001:80