<?php

define('YII_DEBUG', true);
define('YII_ENV', 'dev');

return [
    'id' => 'testenv',
    'siteTitle' => 'Test-Env',
    'basePath' => dirname(__DIR__),
    'defaultRoute' => 'cms',
    'modules' => [
        // modules folder
        'cms' => 'luya\cms\frontend\Module',
        'cmsadmin' => [
            'class' => 'luya\cms\admin\Module',
        ],
        'admin' => [
            'class' => 'luya\admin\Module',
            'interfaceLanguage' => 'en',
            'secureLogin' => false,
        ],
    ],
    'components' => [
        'db' => [
            'class' => 'yii\db\Connection',
            'dsn' => 'mysql:host=localhost;dbname=luya_envs_dev',
            // 'dsn' => 'mysql:host=localhost;dbname=DB_NAME;unix_socket=/Applications/MAMP/tmp/mysql/mysql.sock', // OSX MAMP
            // 'dsn' => 'mysql:host=localhost;dbname=DB_NAME;/Applications/XAMPP/xamppfiles/var/mysql/mysql.sock', // OSX XAMPP
            'username' => 'root',
            'password' => '',
            'charset' => 'utf8'
        ],
        'cache' => [
            'class' => 'yii\caching\DummyCache',
        ],
        'assetManager' => [
             'class' => 'luya\web\AssetManager',
             'linkAssets' => true,
        ],
    ],
    'bootstrap' => [
        'luya\cms\frontend\Bootstrap',
    ]
];